.react-ahead__control-container {
  position: relative;
  box-sizing: border-box;
}

.react-ahead__control-wrapper {
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  padding-left: 6px;
  padding-right: 2px;
  min-height: 38px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  border: 1px solid rgb(204, 204, 204);
  cursor: default;
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  transition: all 100ms ease 0s;
  outline: 0px !important;
}

.react-ahead__control-active {
  border: 1px solid blue;
}

.react-ahead__input-wrapper {
  padding: 2px;
  color: rgb(51, 51, 51);
  position: relative;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  box-sizing: border-box;
  overflow: hidden;
  visibility: visible;
  box-sizing: border-box;
  width: 100%;
}

.react-ahead__placeholder {
  position: absolute;
  top: 50%;
  color: rgb(128, 128, 128);
  margin: 0;
  transform: translateY(-50%);
  box-sizing: border-box;
}

.react-ahead__placeholder-value-mode {
  color: inherit;
}

.react-ahead__input-wrapper {  
  cursor: text;
  width: 100%;
}

.react-ahead__selection-container {
  background-color: rgb(230, 230, 230);
  display: flex;
  min-width: 0px;
  box-sizing: border-box;
  border-radius: 2px;
  margin: 2px 4px 2px 0;
}

.react-ahead__selection-content {
  color: rgb(51, 51, 51);
  font-size: 85%;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  border-radius: 2px;
  overflow: hidden;
  padding: 2px 3px 4px 6px;
}

.react-ahead__selection-removal {
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
  border-radius: 2px;
}

.react-ahead__selection-removal:hover {
  background-color: rgb(255, 189, 173);
  color: rgb(222, 53, 11);
}

.react-ahead__action-icons-container {
  -webkit-box-align: center;
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-shrink: 0;
  box-sizing: border-box;
}

.react-ahead__action-icons {
  color: rgb(204, 204, 204);
  display: flex;
  box-sizing: border-box;
  padding: 10px 6px;
  transition: color 150ms ease 0s;
}

.react-ahead__action-icons:hover {
  cursor: pointer;
  color: rgb(153, 153, 153);
}

.react-ahead__action-icons:focus {
  color: rgb(153, 153, 153);
  outline: 2px dotted gray;
}

.react-ahead__action-icon {
  display: inline-block;
  fill: currentcolor;
  line-height: 1;
  stroke: currentcolor;
  stroke-width: 0;
}

.react-ahead__action-icons-separator {
  align-self: stretch;
  background-color: rgb(204, 204, 204);
  margin-bottom: 8px;
  margin-top: 8px;
  width: 1px;
  box-sizing: border-box;
}

.react-ahead__menu-wrapper {
  top: 100%;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
  margin-bottom: 1px;
  margin-top: 1px;
  position: absolute;
  width: 100%;
  z-index: 1;
  box-sizing: border-box;
  border-radius: 2px;
}

.react-ahead__menu-content {
  max-height: 300px;
  overflow-y: auto;
  padding-bottom: 2px;
  padding-top: 2px;
  position: relative;
  box-sizing: border-box;
}

.react-ahead__menu-no-option {
  color: rgb(153, 153, 153);
  text-align: center;
  box-sizing: border-box;
  padding: 6px 12px;
}

.react-ahead__menu-option {
  background-color: transparent;
  color: inherit;
  cursor: default;
  display: block;
  font-size: inherit;
  width: 100%;
  user-select: none;
  box-sizing: border-box;
  padding: 4px 12px;
}

.react-head__menu-active-option {
  background-color: rgb(222, 235, 255);
}

.react-ahead__group-label {
  color: rgb(153, 153, 153);
  cursor: default;
  display: block;
  font-size: 75%;
  font-weight: 500;
  margin-bottom: 0.25em;
  padding: 2px 12px;
  text-transform: uppercase;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.react-ahead__group-label-icon {
  background-color: #EBECF0;
  border-radius: 1em;
  color: #172B4D;
  display: inline-block;
  font-size: 10;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  min-width: 1;
  padding: 0.16666666666667em 0.5em;
}
